<!DOCTYPE html>
<html>
<head>
  <title>Bad Request (400)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="rails-default-error-page">
  <!-- This file lives in public/404.html -->
  <div class="container">
        <h1>Your client has issued an Invalid ISBN 13</h1>
        <p>Please check your spelling or try a different search term.</p>
        <p>The ISBN is a 10 or 13 digit number that can be found near the barcode on the back cover.</p>
  </div>
</body>
</html>
