/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ==========NAVBAR========== */
.top_nav{
    min-height: 50px;
    background-size: 100% 100%;
    background-image: url("Mask Group 4.png");
    background-repeat: no-repeat;
}

.main_nav{
    height: 100px;
}

.search_icon{
    position: relative;
}

.search_icon:before{
    content: "";
    position: absolute;
    left: 15px;
    top: 15px;
    bottom: 0;
    width: 20px;
    background: url("Icon feather-search.svg");
    background-repeat: no-repeat;
}

.right_arrow{
    position: relative;
}

.right_arrow:before{
    content: "";
    position: absolute;
    right: 15px;
    top: 18px;
    bottom: 0;
    width: 20px;
    background: url("Path9712.svg");
    background-repeat: no-repeat;
}

.search_bar{
    padding: 10px 40px !important;
}
  
.nav-separator{
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.bg-purple{
    --bs-bg-opacity: 1;
    background-color: rgba(94, 100, 174, var(--bs-bg-opacity)) !important;  
}

.books a{
    text-decoration: none;
}

#banner{
    padding-top: 2em;
    padding-bottom: 2em;
    background-image: url("banner bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* SLANTED BACKGROUND */
.shape-r{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shape-l{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-background{
    padding:1em;
    background: rgb(143,158,180);
    background: linear-gradient(360deg, rgba(143,158,180,1) 0%, rgba(250,250,250,1) 50%);
    border-radius: .75rem;
}

/* CONTACT */
#contact{
    height: 60vh;
}

#faq{
    background: #f4f7f8;
}

@media (min-width: 330px) {
    .collapse-item {
        display: none !important;
    }

    .icon-shrink-size div{
        text-align: start;
    }

    .icon-shrink-size svg{
        transform: scale(.75) !important;
    }

    .shape-r{
        background: rgb(255,255,255);
        background: linear-gradient(176deg, #ffff 15%, #0a1b35 15%);  
    }

    .shape-l{
        background: linear-gradient(176deg, #0a1b35 95%, #ffff 5%);
        padding-bottom: 15rem;
    }

    .books{
        margin-left: 0;
        margin-right: 0;
        padding-top: 3rem;
    }

    .base-div{
        margin-top: 5rem;
    }
    
    .shadow-block{
        width: 76%;
        height: 50px;
        top: 0px;
        left: 12%;
    }
    
    .image-block{
        width:80%;
        top: 20px;
        left: 10%;
    }
        .image-block p{
            width:90%;
            margin-top: 50px;
            font-size: small;
        }

    .profile-pic {
        top: -40px;
        left: 50%;
    }

    #contact{
        margin-bottom: 15rem;
    }

    #faq .container{
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    footer .container{
        margin-right: 0;
        margin-left: 0;
    }

    .platforms{
        text-align: center;
    }

    .credit{
        padding-top: 3rem;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .collapse-item {
        display: block !important;
    }

    .icon-shrink-size div{
        text-align: center;
    }

    .icon-shrink-size svg{
        transform: scale(1) !important;
    }

    .shape-r{
        background: rgb(255,255,255);
        background: linear-gradient(176deg, #ffff 40%, #0a1b35 40%);
    }

    .shape-l{
        background: linear-gradient(176deg, #0a1b35 80%, #ffff 20%);
        padding-bottom: 15rem;
    }

    .books{
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 3rem;
    }

    .base-div{
        margin-top: 4em;
    }
    
    .shadow-block{
        width: 76%;
        height: 50px;
        top: 0px;
        left: 12%;
    }
    
    .image-block{
        width:80%;
        top: 20px;
        left: 10%;
    }
        .image-block p{
            width:90%;
            margin-top: 50px;
            font-size: medium;
        }

    .profile-pic {
        top: -40px;
        left: 50%;
    }

    #contact{
        margin-bottom: 7rem;
    }

    .platforms{
        text-align: end;
    }

    .credit{
        padding-top: 0;
        text-align: start;
    }
}

@media (min-width: 992px) {
    .collapse-item {
        display: block !important;
    }

    .icon-shrink-size div{
        text-align: center;
    }

    .icon-shrink-size svg{
        transform: scale(1) !important;
    }

    .shape-r{
        background: linear-gradient(176deg, #ffff 50%, #0a1b35 50%);
    }

    .shape-l{
        background: linear-gradient(176deg, #0a1b35 80%, #ffff 20%);
        padding-bottom: 15rem;
    }

    .books{
        margin-left: 3rem;
        margin-right: 3rem;
        padding-top: 3rem;
    }

    .base-div{
        margin-top: 4em;
    }
    
    .shadow-block{
        width: 48%;
        height: 50px;
        top: 0px;
        left: 26%;
    }
    
    .image-block{
        width:50%;
        top: 20px;
        left: 25%;
    }
        .image-block p{
            width:90%;
            margin-top: 50px;
        }

    .profile-pic {
        top: -40px;
        left: 50%;
    }

    #contact{
        margin-bottom: 5rem;
    }

    #faq .container{
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .platforms{
        text-align: end;
    }

    .credit{
        padding-top: 0;
        text-align: start;
    }
}

.base-div{
    position: relative;
}

.shadow-block{
    background: #d9e4f4;
    border-radius: .75rem;
    border-color: #d9e4f4;
    position: absolute;
}

.image-block{
    background: #5792ce;
    border-radius: .75rem;
    border-color: #5792ce;
    position: absolute;
    padding-bottom: 40px;
}
    .image-block p{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%);
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.text-grey{
    color: #787090 !important;
}

.text-purple{
    color: #6160f6 !important;
}

.bg-grey{
    background-color: #f4f3f9;
}

.links a{
    text-decoration: none;
    color: #43475b;
}
    .links a:hover{
        color: #2039b8;
    }

.platforms a{
    border-radius: 50% !important;
    text-align: center;
}

.chat_button{
    scale: .8;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-radius: 50% !important;
    cursor: pointer;
    opacity: 0.8;
    position: absolute !important;
    bottom: 30%;
    right: 0;
}
